p{
	text-align: center;
}

#caja{
	border: 2px dotted blue;
	width: 70vw;
	margin: 0 auto;
	padding: 10px;
}

#cajaInsertar{
	border: 2px dotted blue;
	width: 70vw;
	padding: 10px;	
}

#cajaInsertar b{
	margin-right: 75px;
}

#izquierda{
	float: left;
	display: inline-block;
}

#derecha input{
	margin-left: 20vw;
}

h1{
	color: blue;
}

.encabezado{
	background-color: blue;
	color: white;
	text-align: left;
}

.filas{
	background-color: lightgray;
}