p{
	text-align: center;
}

#caja{
	border: 2px dotted blue;
	width: 70vw;
	margin: 0 auto;
	padding: 10px;
}
#izquierda{
	float: left;
	display: inline-block;
}

#derecha input{
	margin-left: 20vw;
}

h1{
	color: blue;
}